<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css" />
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
    <%include header.ejs%>

        <div class="slideshowContainer" style="margin-bottom: 0px; margin-top: 0px;">

            <!-- Replace the image 'src' with the images in your project.
        Javascript is set up so that you can add as many images as you like, but make sure that you match the number of 'circle' span elements (below) to the number of images -->
            <%Advertisements.forEach(function(ads){%>
                <a href="<%=ads.link%>" target="_blank"><img class="imageSlides" src="<%=ads.anh%>"></a>
                <%})%>
                    <!-- I would recommend to replace these 'span' elements with 'img' files
        for each the left and right arrow that fits your project, and size accordingly.
        I've shown 'span' elements because I didn't want to upload files. -->
                    <span id="leftArrow" class="slideshowArrow">&#8249;</span>
                    <span id="rightArrow" class="slideshowArrow">&#8250;</span>

                    <div class="slideshowCircles">
                        <!-- Filled 'dot' class is set to first image in slideshow, and then via Javascript the filled 'dot' class follows the current image.
        Make sure you match the number of these 'circle' span elements to the number of images in your slideshow. -->
                        <%Advertisements.forEach(function(ads){%>
                            <span class="circle"></span>
                            <%})%>
                                <!-- <span class="circle dot"></span>
                                <span class="circle"></span>
                                <span class="circle"></span> -->
                    </div>

        </div>

        <!-- SECTION -->
        <div class="section" style="margin:8px">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">

                    <div class="col-md-12">
                        <div class="section-title">
                            <h3 class="title">Gian hàng</h3>
                            <div class="section-nav">
                            </div>
                        </div>
                    </div>
                    <!-- shop -->
                    <%Types.forEach(function(type){%>
                        <div class="col-md-4 col-xs-6">
                            <a href="/store/filter?type=<%=type.id%>&order=asc&page=1">
                                <div class="shop">
                                    <div class="shop-img">
                                        <img src="<%=type.anh%>" alt="">
                                    </div>
                                    <div class="shop-body">
                                        <h3>
                                            <%=type.ten%>
                                        </h3>
                                        <a href="" class="cta-btn" style="display: block;">Xem<i class="fa fa-arrow-circle-right" style="margin-left: 8px;"></i></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <%})%>
                </div>
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->

        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">

                    <!-- section title -->
                    <div class="col-md-12">
                        <div class="section-title">
                            <h3 class="title">Sản phẩm HOT</h3>
                            <div class="section-nav">
                            </div>
                        </div>
                    </div>
                    <!-- /section title -->

                    <!-- Products tab & slick -->
                    <div class="row">
                        <!-- product -->
                        <% Items.forEach(function(item){ %>
                            <div class="col-md-3 col-xs-2">
                                <div class="product">
                                    <a href="/store/id=<%=item.id%>">
                                        <div class="product-img">
                                            <img src="<%=item.anh%>" alt="">
                                        </div>
                                    </a>
                                    <div class="product-body">
                                        <a href="/store/id=<%=item.id%>">
                                            <p class="product-category">
                                                <%= item.loai%>
                                            </p>
                                            <h3 class="product-name">
                                                <div>
                                                    <div class="line-clamp-3">
                                                        <%= item.ten%>
                                                    </div>
                                                </div>

                                            </h3>
                                            <h4 class="product-price">
                                                <%= new Intl.NumberFormat().format(item.gia)%>
                                            </h4>
                                            <div class="product-rating">
                                            </div>
                                        </a>

                                        <!-- <form action="/cart/additem" method="post">
                                                <div class="add-to-cart">
                                                    <input type="hidden" name="stt" value="<%=item.id%>">
                                                    <button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                                                </div>
                                            </form> -->
                                        <% if (user) { %>
                                            <form action="/cart/additem" method="post">
                                                <div class="add-to-cart">
                                                    <input type="hidden" name="stt" value="<%=item.id%>">
                                                    <button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                                                </div>
                                            </form>
                                            <% } else { %>
                                                <div class="add-to-cart">
                                                    <button class="add-to-cart-btn add-to-local-cart-btn" data-toggle="popover" title="Đã thêm vào giỏ hàng" data-productid="<%= item.id %>" data-name="<%= item.ten %>" data-price="<%= item.gia %>" data-picture="<%= item.anh %>"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                                                </div>
                                                <% } %>
                                    </div>
                                </div>

                            </div>
                            <% }); %>
                    </div>
                    <!-- Products tab & slick -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->



        <%include footer.ejs%>

            <!-- jQuery Plugins -->
            <script src="js/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/slick.min.js"></script>
            <script src="js/nouislider.min.js"></script>
            <script src="js/jquery.zoom.min.js"></script>
            <script src="js/main.js"></script>
            <script>
                // IMAGE SLIDES & CIRCLES ARRAYS, & COUNTER
                var imageSlides = document.getElementsByClassName('imageSlides');
                var circles = document.getElementsByClassName('circle');
                var leftArrow = document.getElementById('leftArrow');
                var rightArrow = document.getElementById('rightArrow');
                var counter = 0;

                // HIDE ALL IMAGES FUNCTION
                function hideImages() {
                    for (var i = 0; i < imageSlides.length; i++) {
                        imageSlides[i].classList.remove('visible');
                    }
                }

                // REMOVE ALL DOTS FUNCTION
                function removeDots() {
                    for (var i = 0; i < imageSlides.length; i++) {
                        circles[i].classList.remove('dot');
                    }
                }

                // SINGLE IMAGE LOOP/CIRCLES FUNCTION
                function imageLoop() {
                    var currentImage = imageSlides[counter];
                    var currentDot = circles[counter];
                    currentImage.classList.add('visible');
                    removeDots();
                    currentDot.classList.add('dot');
                    counter++;
                }

                // LEFT & RIGHT ARROW FUNCTION & CLICK EVENT LISTENERS
                function arrowClick(e) {
                    var target = e.target;
                    if (target == leftArrow) {
                        clearInterval(imageSlideshowInterval);
                        hideImages();
                        removeDots();
                        if (counter == 1) {
                            counter = (imageSlides.length - 1);
                            imageLoop();
                            imageSlideshowInterval = setInterval(slideshow, 3000);
                        } else {
                            counter--;
                            counter--;
                            imageLoop();
                            imageSlideshowInterval = setInterval(slideshow, 3000);
                        }
                    } else if (target == rightArrow) {
                        clearInterval(imageSlideshowInterval);
                        hideImages();
                        removeDots();
                        if (counter == imageSlides.length) {
                            counter = 0;
                            imageLoop();
                            imageSlideshowInterval = setInterval(slideshow, 3000);
                        } else {
                            imageLoop();
                            imageSlideshowInterval = setInterval(slideshow, 3000);
                        }
                    }
                }

                leftArrow.addEventListener('click', arrowClick);
                rightArrow.addEventListener('click', arrowClick);


                // IMAGE SLIDE FUNCTION
                function slideshow() {
                    if (counter < imageSlides.length) {
                        imageLoop();
                    } else {
                        counter = 0;
                        hideImages();
                        imageLoop();
                    }
                }

                // SHOW FIRST IMAGE, & THEN SET & CALL SLIDE INTERVAL
                setTimeout(slideshow, 500);
                var imageSlideshowInterval = setInterval(slideshow, 3000);
            </script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $(".add-to-local-cart-btn").click(function(e) {
                        var cart = {}
                        if (localStorage.cart) {
                            cart = JSON.parse(localStorage.cart)
                        }

                        var productid = $(e.target).attr("data-productid")
                        var name = $(e.target).attr("data-name")
                        var price = $(e.target).attr("data-price")
                        var picture = $(e.target).attr("data-picture")
                        if (!cart[productid]) {
                            cart[productid] = {}
                            cart[productid]["name"] = name
                            cart[productid]["price"] = price
                            cart[productid]["picture"] = picture
                            cart[productid]["quantity"] = 1
                        } else {
                            cart[productid]["quantity"] = cart[productid]["quantity"] + 1
                        }
                        localStorage.cart = JSON.stringify(cart)
                    })
                });
            </script>
            <script>
                $(document).ready(function() {
                    $('[data-toggle="popover"]').popover({
                        placement: 'bottom',
                        delay: {
                            hide: 5000 // doesn't do anything
                        }
                    }).on('shown.bs.popover', function() {
                        setTimeout(function(a) {
                            a.popover('hide');
                        }, 500, $(this));
                    });
                });
            </script>

</body>

</html>