<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css" />
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>

    <%include header.ejs%>

        <!-- BREADCRUMB -->
        <div id="breadcrumb" class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb-tree">
                            <li><a href="#">Home</a></li>
                            <li class="active">Sản phẩm</li>
                        </ul>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /BREADCRUMB -->

        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- ASIDE -->
                    <form id="aside" class="col-md-3" action="/store/filter" method="get">

                        <div class="aside">
                            <h3 class="aside-title">Danh mục</h3>
                            <input type="radio" name="type" value="All" checked>Tất cả<br>
                            <input type="radio" name="type" value="Laptop">Laptop<br>
                            <input type="radio" name="type" value="Tivi">Tivi<br>
                            <input type="radio" name="type" value="Dienthoai">Điện thoại<br>
                        </div>

                        <div class="aside">
                            <h3 class="aside-title">Hãng</h3>
                            <input type="checkbox" name="brand" value="Samsung">Samsung<br>
                            <input type="checkbox" name="brand" value="LG">LG<br>
                            <input type="checkbox" name="brand" value="Sony">Sony<br>
                            <input type="checkbox" name="brand" value="Asus">Asus<br>
                            <input type="checkbox" name="brand" value="Acer">Acer<br>
                            <input type="checkbox" name="brand" value="Apple">Apple<br>
                            <input type="checkbox" name="brand" value="Nokia">Nokia<br>
                            <input type="checkbox" name="brand" value="Xiaomi">Xiaomi<br>
                            <input type="checkbox" name="brand" value="Apple">Apple<br>
                            <input type="checkbox" name="brand" value="Huawei">Huawei<br>
                            <input type="checkbox" name="brand" value="Dell">Dell<br>
                            <input type="checkbox" name="brand" value="HP">HP<br>
                            <input type="checkbox" name="brand" value="Panasonic">Panasonic<br>
                            <input type="checkbox" name="brand" value="Toshiba">Toshiba<br>
                            <input type="checkbox" name="brand" value="Asanzo">Asanzo<br>
                            <input type="checkbox" name="brand" value="Vivo">Vivo<br>
                        </div>

                        <div class="aside">
                            <h3 class="aside-title">Giá</h3>
                            <input type="radio" name="price" value="0-3000000">Dưới 3,000,000<br>
                            <input type="radio" name="price" value="3000000-6000000">3,000,000 - 6,000,000<br>
                            <input type="radio" name="price" value="6000000-10000000">6,000,000 - 10,000,000<br>
                            <input type="radio" name="price" value="10000000-15000000">10,000,000 - 15,000,000<br>
                            <input type="radio" name="price" value="15000000-20000000">15,000,000 - 20,000,000<br>
                            <input type="radio" name="price" value="20000000-25000000">20,000,000 - 25,000,000<br>
                            <input type="radio" name="price" value="25000000-30000000">25,000,000 - 30,000,000<br>
                            <input type="radio" name="price" value="30000000">30,000,000 trở lên<br>
                        </div>

                        <div class="aside">
                            <h3 class="aside-title">Sắp xếp theo giá</h3>
                            <input type="radio" name="order" value="asc">Tăng dần<br>
                            <input type="radio" name="order" value="desc">Giảm dần<br>
                        </div>

                        <input type="submit" value="Áp dụng">

                    </form>

                    <!-- /ASIDE -->

                    <!-- STORE -->
                    <div id="store" class="col-md-9">

                        <div class="row">
                            <!-- product -->
                            <% Items.forEach(function(item){ %>
                                <div class="col-md-4 col-xs-6">
                                    <a href="/store/id=<%=item.id%>">
                                        <div class="product">
                                            <div class="product-img">
                                                <img src="<%=item.anh%>" alt="">
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">
                                                    <%= item.loai%>
                                                </p>
                                                <h3 class="product-name">
                                                    <div>
                                                        <div class="line-clamp-3">
                                                            <%= item.ten%>
                                                        </div>
                                                    </div>

                                                </h3>
                                                <h4 class="product-price">
                                                    <%= new Intl.NumberFormat().format(item.gia)%>
                                                </h4>
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <!--<div class="add-to-cart">
                                                    <form action="/cart/additem" method="post">
                                                        <div class="add-to-cart">
                                                            <input type="hidden" name="stt" value="<%=item.id%>">
                                                            <button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                                                        </div>
                                                    </form>
                                                </div>-->

                                            <% if (user) { %>
                                                <form action="/cart/additem" method="post">
                                                    <div class="add-to-cart">
                                                        <input type="hidden" name="stt" value="<%=item.id%>">
                                                        <button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                                                    </div>
                                                </form>
                                            <% } else { %>
                                                <div class="add-to-cart">
                                                    <a class="add-to-cart-btn add-to-local-cart-btn" data-toggle="popover" title="Added" data-productid="<%= item.id %>" data-name="<%= item.ten %>" data-price="<%= item.gia %>" data-picture="<%= item.anh %>">
                                                        <i class="fa fa-shopping-cart"></i>Thêm vào giỏ
                                                    </a>
                                                </div>
                                            <% } %>


                                            </div>
                                        </div>
                                    </a>

                                </div>

                                <% }); %>
                        </div>
                        <!-- /store products -->

                        <!-- store bottom filter -->
                        <div class="store-filter clearfix">

                            <% if (pages > 0) { %>
                                <ul class="store-pagination">
                                    <% if (current == 1) { %>
                                        <li class="disabled" id="pageFirst"><a>Đầu</a></li>
                                        <% } else { %>
                                            <li><a id="pageFirst">Đầu</a></li>
                                            <% } %>
                                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                                    <% if (i !== 1) { %>
                                                        <li class="disabled"><a>...</a></li>
                                                        <% } %>
                                                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>

                                                                <% if (i == current) { %>
                                                                    <li class="active">
                                                                        <a style="color:#ffffff">
                                                                            <%= i %>
                                                                        </a>
                                                                    </li>
                                                                    <% } else { %>
                                                                        <li>
                                                                            <a id="page<%=i%>">
                                                                                <%= i %>
                                                                            </a>
                                                                        </li>
                                                                        <% } %>

                                                                            <% if (i == Number(current) + 4 && i < pages) { %>
                                                                                <li class="disabled "><a>...</a></li>
                                                                                <% } %>
                                                                                    <% } %>
                                                                                        <% if (current == pages) { %>
                                                                                            <li class="disabled" id="pageLast"><a>Cuối</a></li>
                                                                                            <% } else { %>
                                                                                                <li><a id="pageLast">Cuối</a>
                                                                                                </li>
                                                                                                <% } %>
                                </ul>
                                <% } %>
                                    <!-- /store bottom filter -->
                        </div>
                    </div>

                    <!-- /STORE -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->


        <%include footer.ejs%>

            <!-- jQuery Plugins -->
            <script>
                var currentHref = window.location.href;

                if (Number(<%=current%>) != 1) {
                    page = document.getElementById("pageFirst");
                    if (currentHref.includes("&page=")) {
                        n = currentHref.indexOf("&page=");
                        page.href = currentHref.substr(0, n) + "&page=" + 1;
                    } else {
                        page.href = currentHref + "&page=" + 1;
                    }
                }

                if (Number(<%=current%>) != Number(<%=pages%>)) {
                    page = document.getElementById("pageLast");
                    if (currentHref.includes("&page=")) {
                        n = currentHref.indexOf("&page=");
                        page.href = currentHref.substr(0, n) + "&page=" + <%=pages%>;
                    } else {
                        page.href = currentHref + "&page=" + <%=pages%>;
                    }
                }

                var i = (Number(<%=current%>) > 5 ? Number(<%=current%>) - 4 : 1);
                for (; i <= (Number(<%=current%>) + 4) && i <= Number(<%=pages%>); i++) {
                    if (i == Number(<%=current%>)) {
                        continue
                    } else {
                        id = "page" + i;
                        page = document.getElementById(id);
                        if (currentHref.includes("&page=")) {
                            n = currentHref.indexOf("&page=");
                            page.href = currentHref.substr(0, n) + "&page=" + i;
                        } else {
                            page.href = currentHref + "&page=" + i;
                        }
                    }
                }
                // for (var i = <%=pages%> - 4; i <= <%=pages%>; i++) {
                //     // if (i == <%=current%>)
                //     //     continue
                //     id = "page" + i;
                //     page = document.getElementById(id);
                //     page.innerHTML = id;
                //     n = currentHref.indexOf("&page=");
                //     page.href = currentHref.substr(0, n) + "&page=" + i;
                // }
            </script>
            <script src="js/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/slick.min.js"></script>
            <script src="js/nouislider.min.js"></script>
            <script src="js/jquery.zoom.min.js"></script>
            <script src="js/main.js"></script>


            <script type="text/javascript">
            $(document).ready(function() {
                $(".add-to-local-cart-btn").click(function(e){
                    var cart = {}
                    if (localStorage.cart) {
                        cart = JSON.parse(localStorage.cart)
                    }
                    
                    var productid = $(e.target).attr("data-productid")
                    var name = $(e.target).attr("data-name")
                    var price = $(e.target).attr("data-price")
                    var picture = $(e.target).attr("data-picture")

                    if(!cart[productid]) {
                        cart[productid] = {}
                        cart[productid]["name"] = name
                        cart[productid]["price"] = price
                        cart[productid]["picture"] = picture
                        cart[productid]["quantity"] = 1
                    } else {
                        cart[productid]["quantity"] = cart[productid]["quantity"] + 1
                    }

                    localStorage.cart = JSON.stringify(cart)
                })
            });
            </script>


            <script>
                $(document).ready(function () {

                    $('[data-toggle="popover"]').popover({
                        placement: 'bottom',
                        delay : {
                            hide : 5000 // doesn't do anything
                        }
                    }).on('shown.bs.popover', function () {
                        setTimeout(function (a) {
                            a.popover('hide');
                        }, 500, $(this));
                    });

                });
            </script>

</body>

</html>