<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css" />
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>


    <%include header.ejs%>

        <!-- BREADCRUMB -->
        <div id="breadcrumb" class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb-tree">
                            <li><a href="#">Home</a></li>
                            <li class="active">Sản phẩm</li>
                        </ul>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /BREADCRUMB -->

        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- ASIDE -->
                    <div id="aside" class="col-md-3">

                        <div class="aside">
                            <h3 class="aside-title">Sắp xếp</h3>

                            <div class="radio">
                                <label><input type="radio" name="optradio" value="asc">Giá từ thấp đến cao</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio" value="desc">Giá từ cao đến thấp</label>
                            </div>

                        </div>

                        <div class="aside">
                            <h3 class="aside-title">Danh mục</h3>

                            <div class="checkbox-filter">

                                <div class="input-checkbox">
                                    <input type="checkbox" name="catcheckbox" id="category-2" value="Dienthoai">
                                    <label for="category-2">
										<span></span>
										Điện thoại
										<small>(740)</small>
									</label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" name="catcheckbox" id="category-3" value="Laptop">
                                    <label for="category-3">
										<span></span>
                                            Laptop
										<small>(1450)</small>
									</label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" name="catcheckbox" id="category-4" value="Tivi">
                                    <label for="category-4">
										<span></span>
                                        Tivi										
                                        <small>(1450)</small>
									</label>
                                </div>

                            </div>
                        </div>

                        <div class="aside">
                            <h3 class="aside-title">Hãng</h3>

                            <div class="checkbox-filter">

                                <div class="input-checkbox">
                                    <input type="checkbox" name="brandcheckbox" id="brand-1" value="Samsung">
                                    <label for="brand-1">
										<span></span>
										Samsung
										<small>(578)</small>
									</label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" name="brandcheckbox" id="brand-2" value="LG">
                                    <label for="brand-2">
										<span></span>
										LG
										<small>(125)</small>
									</label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" name="brandcheckbox" id="brand-3" value="Sony">
                                    <label for="brand-3">
										<span></span>
										Sony
										<small>(755)</small>
									</label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" name="brandcheckbox" id="brand-4" value="Asus">
                                    <label for="brand-4">
										<span></span>
										Asus
										<small>(578)</small>
									</label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" name="brandcheckbox" id="brand-5" value="Vivo">
                                    <label for="brand-5">
										<span></span>
										Vivo
										<small>(125)</small>
									</label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" name="brandcheckbox" id="brand-6" value="Apple">
                                    <label for="brand-6">
										<span></span>
										Apple
										<small>(755)</small>
									</label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" name="brandcheckbox" id="brand-7" value="Huawei">
                                    <label for="brand-6">
										<span></span>
										Huawei
										<small>(755)</small>
									</label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" name="brandcheckbox" id="brand-8" value="Xiaomi">
                                    <label for="brand-6">
										<span></span>
										Xiaomi
										<small>(755)</small>
									</label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" name="brandcheckbox" id="brand-8" value="Xiaomi">
                                    <label for="brand-6">
                                        <span></span>
                                        Xiaomi
                                        <small>(755)</small>
                                    </label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" name="brandcheckbox" id="brand-9" value="Dell">
                                    <label for="brand-9">
                                        <span></span>
                                        Dell
                                        <small>(755)</small>
                                    </label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" name="brandcheckbox" id="brand-10" value="Asanzo">
                                    <label for="brand-10">
                                        <span></span>
                                        Asanzo
                                        <small>(755)</small>
                                    </label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" name="brandcheckbox" id="brand-11" value="HP">
                                    <label for="brand-11">
                                        <span></span>
                                        HP
                                        <small>(755)</small>
                                    </label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" name="brandcheckbox" id="brand-12" value="Panasonic">
                                    <label for="brand-12">
                                        <span></span>
                                        Panasonic
                                        <small>(755)</small>
                                    </label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" name="brandcheckbox" id="brand-13" value="Xiaomi">
                                    <label for="brand-13">
                                        <span></span>
                                        Toshiba
                                        <small>(755)</small>
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="aside">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h3 class="aside-title">Price</h3>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-danger">Submit</button>
                                </div>
                            </div>
                            <div class="price-filter">
                                <div id="price-slider"></div>
                                <div class="input-number price-min">
                                    <input id="price-min" type="number">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                                <span>-</span>
                                <div class="input-number price-max">
                                    <input id="price-max" type="number">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="store" class="col-md-9">
                        <div class="row">
                            <!-- product -->
                            <% Items.rows.forEach(function(item){ %>
                                <div class="col-md-3 col-xs-6">
                                    <a href="/store/id=<%=item.id%>">
                                        <div class="product">
                                            <div class="product-img">
                                                <img src="<%=item.anh%>" alt="">
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">Laptop</p>
                                                <h3 class="product-name">
                                                    <%= item.ten%>
                                                </h3>
                                                <h4 class="product-price">
                                                    <%= item.gia%>
                                                </h4>
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="product-body">
                                                    <p class="product-category">
                                                        <%= item.loai%>
                                                    </p>
                                                    <h3 class="product-name">
                                                        <div>
                                                            <div class="line-clamp-3">
                                                                <%= item.ten%>
                                                            </div>
                                                        </div>

                                                    </h3>
                                                    <h4 class="product-price">
                                                        <%= item.gia%>
                                                    </h4>
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <!-- <div class="product-btns">
                                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                                        </div> -->

                                                    <div class="add-to-cart">
                                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                                    </div>
                                                </div>
                                            </div>

                                    </a>
                                    </div>
                                    <!-- /product -->
                                    <% }); %>
                                </div>
                                <!-- /store products -->
                                <!-- /STORE -->
                        </div>
                        <!-- /row -->
                    </div>
                </div>
                <!-- /aside Widget -->

                <input type="submit" value="Áp dụng">

            </div>



            <%include footer.ejs%>

                <!-- jQuery Plugins -->
                <script>
                    $(document).ready(function() {
                                var selections = document.location.pathname.replace("/store/", "").split("&")
                                var typeSelection, brandSelection, orderSelection
                                for (var i = 0; i < selections.length; i++) {
                                    if (selections[i].match(/type/)) {
                                        typeSelection = selections[i]
                                    }
                                    if (selections[i].match(/brand/)) {
                                        brandSelection = selections[i]
                                    }
                                    if (selections[i].match(/order/)) {
                                        orderSelection = selections[i]
                                    }
                                }

                                if (typeSelection) {
                                    var types = typeSelection.replace("type=", "").split(",")
                                    for (var i = 0; i < types.length; i++) {
                                        $("input[value=" + types[i] + "]").prop("checked", true)
                                    }

                                    $("input[name=catcheckbox]").change(function() {
                                        var newTypeSelection = "type=" + Array.prototype.map.call($("input[name=catcheckbox]:checked"), function(e) {
                                            return $(e).val();
                                        }).join()

                                        if (typeSelection) {
                                            document.location.href = document.location.href.replace(typeSelection, newTypeSelection)
                                        } else {
                                            document.location.href = document.location.href + "&" + newTypeSelection
                                        }
                                    })

                                    if (brandSelection) {
                                        var brands = brandSelection.replace("brand=", "").split(",")
                                        for (var i = 0; i < brands.length; i++) {
                                            $("input[value=" + brands[i] + "]").prop("checked", true)
                                        }
                                    }

                                    $("input[name=brandcheckbox]").change(function() {
                                        var newBrandSelection = "brand=" + Array.prototype.map.call($("input[name=brandcheckbox]:checked"), function(e) {
                                            return $(e).val();
                                        }).join()

                                        if (brandSelection) {
                                            document.location.href = document.location.href.replace(brandSelection, newBrandSelection)
                                        } else {
                                            document.location.href = document.location.href + "&" + newBrandSelection
                                        }
                                    })

                                    if (orderSelection) {
                                        var order = orderSelection.replace("order=", "")
                                        $("input[value=" + order + "]").prop("checked", true)
                                    }

                                    $("input[name=optradio]").change(function() {
                                        var newOrderSelection = "order=" + Array.prototype.map.call($("input[name=optradio]:checked"), function(e) {
                                            return $(e).val();
                                        }).join()

                                        if (orderSelection) {
                                            document.location.href = document.location.href.replace(orderSelection, newOrderSelection)
                                        } else {
                                            document.location.href = document.location.href + "&" + newOrderSelection
                                        }
                                    })


                                    if (priceSelection) {
                                        var price = priceSelection.replace("price=", "").split(",")
                                        for (var i = 0; i < price.length; i++) {
                                            $('#price-min').val(price[0]);
                                            $('#price-max').val(price[1]);
                                        }
                                    }


                                    if (orderSelection) {
                                        var order = orderSelection.replace("order=", "")
                                            //for (var i = 0; i < order.length; i++) {
                                            //    $("input[value=" + order[i] + "]").prop("checked", true)
                                            //}
                                        $("input[value=" + order + "]").prop("checked", true)
                                    }

                                    $("input[name=optradio]").change(function() {
                                        var newOrderSelection = "order=" + Array.prototype.map.call($("input[name=optradio]:checked"), function(e) {
                                            return $(e).val();
                                        }).join()

                                        if (orderSelection) {
                                            document.location.href = document.location.href.replace(orderSelection, newOrderSelection)
                                        } else {
                                            document.location.href = document.location.href + "&" + newOrderSelection
                                        }
                                    })
                                });
                </script>
                <script src="js/jquery.min.js"></script>
                <script src="js/bootstrap.min.js"></script>
                <script src="js/slick.min.js"></script>
                <script src="js/nouislider.min.js"></script>
                <script src="js/jquery.zoom.min.js"></script>
                <script src="js/main.js"></script>
</body>

</html>