<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css" />
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <%include header.ejs%>

        <!-- BREADCRUMB -->
        <div id="breadcrumb" class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb-tree">
                            <li><a href="#">Home</a></li>
                            <li class="active">Sản phẩm</li>
                        </ul>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /BREADCRUMB -->

        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- ASIDE -->
                    <form id="aside" class="col-md-3" action="/store/filter" method="get">
                        <div class="aside">
                            <h3 class="aside-title">Danh mục</h3>
                            <input type="radio" name="type" value="All">Tất cả<br>
                            <input type="radio" name="type" value="Laptop">Laptop<br>
                            <input type="radio" name="type" value="Tivi">Tivi<br>
                            <input type="radio" name="type" value="Dienthoai">Điện thoại<br>
                        </div>

                        <div class="aside">
                            <h3 class="aside-title">Hãng</h3>
                            <input type="checkbox" name="brand" value="Samsung">Samsung<br>
                            <input type="checkbox" name="brand" value="LG">LG<br>
                            <input type="checkbox" name="brand" value="Sony">Sony<br>
                            <input type="checkbox" name="brand" value="Asus">Asus<br>
                            <input type="checkbox" name="brand" value="Acer">Acer<br>
                            <input type="checkbox" name="brand" value="Apple">Apple<br>
                            <input type="checkbox" name="brand" value="Nokia">Nokia<br>
                            <input type="checkbox" name="brand" value="Xiaomi">Xiaomi<br>
                            <input type="checkbox" name="brand" value="Apple">Apple<br>
                            <input type="checkbox" name="brand" value="Huawei">Huawei<br>
                            <input type="checkbox" name="brand" value="Dell">Dell<br>
                            <input type="checkbox" name="brand" value="HP">HP<br>
                            <input type="checkbox" name="brand" value="Panasonic">Panasonic<br>
                            <input type="checkbox" name="brand" value="Toshiba">Toshiba<br>
                            <input type="checkbox" name="brand" value="Asanzo">Asanzo<br>
                            <input type="checkbox" name="brand" value="Vivo">Vivo<br>
                        </div>

                        <!-- <div class="aside">
                            <h3 class="aside-title">Giá</h3>
                            <input type="checkbox" name="Type" value="All">Dưới 3,000,000<br>
                            <input type="checkbox" name="Type" value="All">3,000,000 - 6,000,000<br>
                            <input type="checkbox" name="Type" value="All">6,000,000 - 10,000,000<br>
                            <input type="checkbox" name="Type" value="All">10,000,000 - 15,000,000<br>
                            <input type="checkbox" name="Type" value="All">15,000,000 - 20,000,000<br>
                            <input type="checkbox" name="Type" value="All">20,000,000 - 25,000,000<br>
                            <input type="checkbox" name="Type" value="All">25,000,000 - 30,000,000<br>
                            <input type="checkbox" name="Type" value="All">30,000,000 trở lên<br>
                        </div> -->

                        <input type="submit" value="Áp dụng">

                        <!-- <button>Áp dụng</button> -->
                    </form>
                    <!-- /ASIDE -->

                    <!-- STORE -->
                    <div id="store" class="col-md-9">
                        <!-- store top filter -->
                        <div class="store-filter clearfix">
                            <div class="store-sort">
                                <label>
                                    Sắp xếp:
                                    %> <a href="/store/type=<%=Type%>&brand=<%=Brand%>&order=asc&page=<%=Page%>" class="btn btn-info" role="button" id="ascBtn">Giá tăng dần</a>
                                    <a href="/store/type=<%=Type%>&brand=<%=Brand%>&order=desc&page=<%=Page%>" class="btn btn-info" role="button" id="descBtn">Giá giảm dần</a> %>
								</label>
                            </div>
                        </div>
                        <!-- /store top filter -->

                        <!-- store products -->
                        <div class="row">
                            <!-- product -->
                            <% Items.forEach(function(item){ %>
                                <div class="col-md-4 col-xs-6">
                                    <a href="/store/id=<%=item.id%>">
                                        <div class="product">
                                            <div class="product-img">
                                                <img src="<%=item.anh%>" alt="">
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">
                                                    <%= item.loai%>
                                                </p>
                                                <h3 class="product-name">
                                                    <div>
                                                        <div class="line-clamp-3">
                                                            <%= item.ten%>
                                                        </div>
                                                    </div>

                                                </h3>
                                                <h4 class="product-price">
                                                    <%= item.gia%>
                                                </h4>
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <!-- <div class="product-btns">
                                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                                </div> -->

                                                <div class="add-to-cart">
                                                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                                </div>
                                            </div>
                                        </div>

                                    </a>
                                </div>
                                <!-- /product -->
                                <% }); %>
                        </div>
                        <!-- /store products -->

                        <!-- store bottom filter -->
                        <div class="store-filter clearfix">

                            <% if (pages > 0) { %>
                                <ul class="store-pagination">
                                    <% if (current == 1) { %>
                                        <li class="disabled" id="pageFirst"><a>Đầu</a></li>
                                        <% } else { %>
                                            <li><a id="pageFirst">Đầu</a></li>
                                            <% } %>
                                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                                    <% if (i !== 1) { %>
                                                        <li class="disabled"><a>...</a></li>
                                                        <% } %>
                                                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                                                <% if (i == current) { %>
                                                                    <li class="active">
                                                                        <a style="color:#ffffff">
                                                                            <%= i %>
                                                                        </a>
                                                                    </li>
                                                                    <% } else { %>
                                                                        <li>
                                                                            <a id="page<%=i%>">
                                                                                <%= i %>
                                                                            </a>
                                                                        </li>
                                                                        <% } %>
                                                                            <% if (i == Number(current) + 4 && i < pages) { %>
                                                                                <li class="disabled "><a>...</a></li>
                                                                                <% } %>
                                                                                    <% } %>
                                                                                        <% if (current == pages) { %>
                                                                                            <li class="disabled" id="pageLast"><a>Last</a></li>
                                                                                            <% } else { %>
                                                                                                <li><a id="pageLast">Cuối</a>
                                                                                                </li>
                                                                                                <% } %>
                                </ul>
                                <% } %>
                                    <!-- /store bottom filter -->
                        </div>
                    </div>

                    <!-- /STORE -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->


        <%include footer.ejs%>

            <!-- jQuery Plugins -->
            <script>
                var currentHref = window.location.href;
                var ascBtn = document.getElementById('ascBtn');
                var descBtn = document.getElementById('descBtn');

                ascBtnHref = currentHref.replace("&order=asc", "&order=asc");
                ascBtnHref = currentHref.replace("&order=desc", "&order=asc");
                ascBtn.href = ascBtnHref;

                descBtnHref = currentHref.replace("&order=desc", "&order=desc");
                descBtnHref = currentHref.replace("&order=asc", "&order=desc");
                descBtn.href = descBtnHref;


                page = document.getElementById("pageFirst");
                n = currentHref.indexOf("&page=");
                page.href = currentHref.substr(0, n) + "&page=" + 1;

                page = document.getElementById("pageLast");
                n = currentHref.indexOf("&page=");
                page.href = currentHref.substr(0, n) + "&page=" + <%=pages%>;

                for (i = 0; i < <%=pages%>; i++) {
                    page = document.getElementById("pageLast");
                    page.innerHTML = "yes";

                    id = "page" + i;
                    page = document.getElementById(id);
                    page.innerHTML = id;

                    n = currentHref.indexOf("&page=");
                    page.href = currentHref.substr(0, n) + "&page=" + i;
                }
            </script>
            <script src="js/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/slick.min.js"></script>
            <script src="js/nouislider.min.js"></script>
            <script src="js/jquery.zoom.min.js"></script>
            <script src="js/main.js"></script>

</body>

</html>