<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css" />
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <%include header.ejs%>

        <!-- BREADCRUMB -->
        <div id="breadcrumb" class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb-tree">
                            <li><a href="#">Home</a></li>
                            <li class="active">Sản phẩm</li>
                        </ul>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /BREADCRUMB -->

        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- ASIDE -->
                    <!-- <div id="aside" class="col-md-3">
                        <div class="aside">
                            <h3 class="aside-title">Danh mục</h3>
                            <div class="checkbox-filter">

                                <div class="input-checkbox">
                                    <input type="checkbox" id="category-1">
                                    <label for="category-1">
										<span></span>
										Tất cả
										<small>(120)</small>
									</label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" id="category-2">
                                    <label for="category-2">
										<span></span>
										Điện thoại
										<small>(740)</small>
									</label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" id="category-3">
                                    <label for="category-3">
										<span></span>
                                            Laptop
										<small>(1450)</small>
									</label>
                                </div>

                                <div class="input-checkbox">
                                    <input type="checkbox" id="category-3">
                                    <label for="category-3">
										<span></span>
Tivi										
<small>(1450)</small>
									</label>
                                </div>

                            </div>
                        </div>

                        <div class="aside">
                            <h3 class="aside-title">Hãng</h3>
                            <div class="checkbox-filter">
                                <div class="input-checkbox">
                                    <input type="checkbox" id="brand-1">
                                    <label for="brand-1">
										<span></span>
										Samsung
										<small>(578)</small>
									</label>
                                </div>
                                <div class="input-checkbox">
                                    <input type="checkbox" id="brand-2">
                                    <label for="brand-2">
										<span></span>
										LG
										<small>(125)</small>
									</label>
                                </div>
                                <div class="input-checkbox">
                                    <input type="checkbox" id="brand-3">
                                    <label for="brand-3">
										<span></span>
										Sony
										<small>(755)</small>
									</label>
                                </div>
                                <div class="input-checkbox">
                                    <input type="checkbox" id="brand-4">
                                    <label for="brand-4">
										<span></span>
										Asus
										<small>(578)</small>
									</label>
                                </div>
                                <div class="input-checkbox">
                                    <input type="checkbox" id="brand-5">
                                    <label for="brand-5">
										<span></span>
										Acer
										<small>(125)</small>
									</label>
                                </div>
                                <div class="input-checkbox">
                                    <input type="checkbox" id="brand-6">
                                    <label for="brand-6">
										<span></span>
										Apple
										<small>(755)</small>
									</label>
                                </div>
                                <div class="input-checkbox">
                                    <input type="checkbox" id="brand-6">
                                    <label for="brand-6">
										<span></span>
										Nokia
										<small>(755)</small>
									</label>
                                </div>
                                <div class="input-checkbox">
                                    <input type="checkbox" id="brand-6">
                                    <label for="brand-6">
										<span></span>
										Xiaomi
										<small>(755)</small>
									</label>
                                </div>
                                <div class="input-checkbox">
                                    <input type="checkbox" id="brand-6">
                                    <label for="brand-6">
										<span></span>
										Apple
										<small>(755)</small>
									</label>
                                </div>
                            </div>
                        </div>

                        <div class="aside">
                            <h3 class="aside-title">Price</h3>
                            <div class="price-filter">
                                <div id="price-slider"></div>
                                <div class="input-number price-min">
                                    <input id="price-min" type="number">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                                <span>-</span>
                                <div class="input-number price-max">
                                    <input id="price-max" type="number">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            </div>
                        </div> -->
                    <!-- /aside Widget -->


                </div>
                <!-- /ASIDE -->

                <!-- STORE -->
                <div id="store" class="col-md-12">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="store-sort">
                            <label>
                                    Sắp xếp:
                                    %> <a href="/store/type=<%=Type%>&brand=<%=Brand%>&order=asc" class="btn btn-info" role="button">Giá tăng dần</a>
                                    <a href="/store/type=<%=Type%>&brand=<%=Brand%>&order=desc" class="btn btn-info" role="button">Giá giảm dần</a> %>
								</label>
                        </div>
                    </div>
                    <!-- /store top filter -->

                    <!-- store products -->
                    <div class="row">
                        <!-- product -->
                        <% Items.rows.forEach(function(item){ %>
                            <div class="col-md-3 col-xs-6">
                                <a href="/store/id=<%=item.id%>">
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="<%=item.anh%>" alt="">
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Laptop</p>
                                            <h3 class="product-name">
                                                <%= item.ten%>
                                            </h3>
                                            <h4 class="product-price">
                                                <%= item.gia%>
                                            </h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- /product -->
                            <% }); %>

                    </div>
                    <!-- /store products -->

                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">
                        <span class="store-qty">Showing 20-100 products</span>
                        <ul class="store-pagination">
                            <li class="active">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
        </div>
        <!-- /SECTION -->


        <%include footer.ejs%>

            <!-- jQuery Plugins -->
            <script src="js/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/slick.min.js"></script>
            <script src="js/nouislider.min.js"></script>
            <script src="js/jquery.zoom.min.js"></script>
            <script src="js/main.js"></script>

</body>

</html>*